doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Twitter Generator
    // Google font
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400i,700', rel='stylesheet')
    // Bootstrap
    link(type='text/css', rel='stylesheet', href='public/css/bootstrap.min.css')
    // Custom stlylesheet
    link(type='text/css', rel='stylesheet', href='public/css/style.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    // HTML
    #booking.section
      .section-center
        .container
          .row
            .booking-form
              form(action='/', method='post')
                .row.no-margin
                  .col-sm-6
                    .form-group
                      span.form-label Select Date
                      input.form-control(type='date', id="myDate", name='dateselect', required='')
                  .col-sm-6
                    .form-group
                      span.form-label Enter the desired technology/industry
                      input.form-control(type='input', name='entity', value='blockchain', required='')
                .form-group
                  span.form-label Your Tweet (Copy and Paste)
                  input.form-control(type='input', readonly='', value=result)
                .form-btn
                  button.submit-btn Generate a Happy Birthday Tweet
  // This templates was made by Colorlib (https://colorlib.com)